html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
   font-family: "Roboto";
   src: local("Roboto-Regular"), url("/fonts/Roboto-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Bold"), url("/fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    min-width: 320px;
    width: 100%;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
}

 /* glob */

 :root {
    --gap: 30px;
    --dark-blue: #3F2AFF;
    --title-white: #FFFFFF;
    --text-grey: #666666;
    --text-light: #85859B;
 }

 .list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
 }

 .flex {
    display: flex;
 }

 .box {
    max-width: 1440px;
    margin: auto;
 }

 .button {
    border: none;
    border-radius: 20px;
    background-color: #3F2AFF;
    cursor: pointer;
 }

 .section__title {
    margin: 0;
    margin-bottom: 30px;
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #2E2B44;
 }

 .section__descr {
    margin: 0;
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
 }


   /* header */

   .header {
    position: relative;
  }

   .title:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .header__container {
    padding: 2.08% 11.5%;
    justify-content: space-between;
    max-width: 1440px;
    min-height: 80px;
    background-color: #3F2AFF;
    font-size: 0;
  }

  .header__logo {

  }

  .header__nav {

  }

  .nav__list {

  }

  .nav__item {
   margin-right: 56px;
  }

  .nav__item:last-child {
    margin-right: 0;
   }

  .nav__link {
   font-family: "Roboto-Regular", sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #FFFFFF;
   cursor: pointer;
  }


  /* hero */

  .hero__box {
    padding: 1.04% 10% 1%;
    height: 620px;
    height: 100%;
    font-size: 0;
    background: radial-gradient(#555681,#212133);
  }

  .hero__left {
    flex-direction: column;
    margin-right: 18px;
    max-width: 480px;
  }

  .hero__title {
   padding-top: 115px;
   font-weight: 700;
   font-size: 60px;
   line-height: 60px;
   color:#FFFFFF;
  }

  .hero__descr {
   margin-bottom: 70px;
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
   color:#FFFFFF;

  }

  .hero__btn {
   /* padding: 23px 75px; */
   text-align: center;
   width: 270px;
   height: 70px;
   font-family: "Roboto-Bold", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   color: #FFFFFF;
  }

  .hero__right {

  }

  .hero__img {

  }


  /* benefits */

  .benefits__box {
    padding: 4.8% 10%;
    font-size: 0;
    /* padding: calc(50px + (80 - 50) * ((100vw - 320px) \ (1440 - 320))); */
  }

  .benefits__block {

  }

  .benefits__img {
   margin-right: 30px;
   max-width: 160px;
   min-height: 142px;
  }

  .benefits__content {
    flex-direction: column;
    max-width: 585px;
  }

  .benefits__title {

  }

  .benefits__descr {
   margin-bottom: 30px;
  }

  .benefits__list {
   align-items: center;
   --offsets: 3;
   gap:var(--gap);
  }

  .benefits__svg {
   margin-right: 30px;
  }

  .benefits__text {
    max-width: 240px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }


  /* teachers */

  .teachers__box {
    padding: 4.8% 10%;
    background-color: #212133;
  }

  .teachers__title {
    color:#FFFFFF;
  }

  .teachers__list {
   --offsets: 3;
   gap: var(--gap);
  }

  .teachers__item {
   max-width: 255px;
   min-height: 360px;
  }

  .teachers__img {
   margin-bottom: 30px;
  }

  .teachers__subtitle {
   margin: 0;
   margin-bottom: 15px;
   font-family: "Roboto-Bold", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 27px;
   color:#FFFFFF;
  }

  .teachers__descr {
   color: #85859B;
  }


  /* courses */

  .courses__box {
    padding: 4.8% 9.9%;
  }

  .courses__title {

  }

  .courses__list {
   --offsets: 1;
   gap: var(--gap);
   flex-wrap: wrap;
  }

  .courses__item {
   position: relative;
   max-width: 540px;
   min-height: 480px;
   font-size: 0;
  }

  .courses__img {

  }

  .courses__block {
   position: absolute;
   top: 10px;
   right: 5px;
   align-items: center;
  }

  .courses__svg {
   margin-right: 5px;
  }

  .courses__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color:#FFFFFF;
  }

  .courses__content {
   display: flex;
   flex-direction: column;
   padding: 25px;
   min-height: 300px;
   border-radius: 0px 0px 20px 20px;
   background-color: #EDF0F9;
  }

  .courses__subtitle {
   margin: 0;
   margin-bottom: 15px;
   font-family: "Roboto-Bold";
   font-weight: 700;
   font-size: 18px;
   line-height: 27px;
   color: #212133;
  }

  .courses__descr {
   margin-bottom: 30px;
   flex-grow: 1; /* flex: 1; */
  }

  .courses__btn {
   padding: 20px 60px;
   width: 202px;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF;
  }


  /* footer */

  .footer__box {

  }

  .footer__container {
    padding: 1.95% 43.5%;
    background-color: #2E2B44;
  }

  .social__list {
    justify-content: space-between;
  }

  .social__item {

  }

  .footer__block {

  }

  .footer__logo {
    text-align: center;
    margin: 0;
  }
